# Set the default listening port, also enable HTTPS for local development.
{
  http_port 8080
  https_port 8443

  # HTTPS is suppossed to be used for local development only.
  # For production, we've a nginx proxy to route and do the HTTPS stuff.
  #
  # If you're sure to use HTTPS with owned domain, remove the following lines,
  # so that Caddy will use a valid ACME CA to sign a trusted certificate.
  auto_https disable_redirects
  local_certs
}

# To use HTTPS, change the next line after comments into your specific domain.
#
# The domain name should use the same second-level domain as Tango.
# For example, if Tango is hosted on tango.example.com, then you can set it to
# any subdomain of example.com like csb.example.com.
#
# For local development, make sure you've put your domain into your hosts file,
# and point it to 127.0.0.1.
# For production, make sure your domain's A/AAAA DNS records are properly
# pointed to this machine's public IP.
local.netease.com

# Built files will be saved into ./www/.
root * ./www

# Enable the static file server.
file_server

# Set this header to allow modifying document.domain in Chrome 115.
# https://developer.chrome.com/blog/document-domain-setter-deprecation/
header {
  Origin-Agent-Cluster ?0
}

# Reverse proxy for unpkg CDN
handle_path /unpkg/* {
  reverse_proxy https://unpkg.com {
    header_up Host {upstream_hostport}
    header_up X-Forwarded-Host {host}
  }
}

# Reverse proxy for packager service
handle_path /packager2/* {
  # You can replace this with your own packager service URL
  # For now, using the official CodeSandbox packager
  reverse_proxy https://prod-packager-packages.codesandbox.io {
    header_up Host {upstream_hostport}
    header_up X-Forwarded-Host {host}
  }
}

# Reverse proxy for static CDN resources (like Google Fonts)
handle_path /static/cdn/* {
  uri strip_prefix /static/cdn
  reverse_proxy https://fonts.googleapis.com {
    header_up Host {upstream_hostport}
  }
}

# Handle URL with search query.
try_files {path} {path}/ /index.html?{query}
